.conteneur {
  largeur : 700px ;
  marge : 60px auto ;
}

@media (largeur maximale : 960px) {
.conteneur {
    largeur : 700px ;
}
}
@media (largeur maximale : 720px) {
.conteneur {
    largeur : 500px ;
}
}
@media (largeur maximale : 540px) {
.conteneur {
    largeur : 300px ;
}
}
